{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    {% block css-link %}
    
    {% endblock css-link %}

    <title> CRUD |{% block title %}
    
    {% endblock title %}</title>
  </head>
  <body>
  {% include "navigationbar.html" %}
  <main>
  <div class="container">
  <div class="row mt-4">
   {% block content %}
   
   {% endblock content %}
   </div>
   </div>
</main>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src=" {% static ' js/bootstrap.bundle.min.js' %}" ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src=" {% static 'js/bootstrap.min.js' %} " ></script>
   
  </body>
</html>
