{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="card border-success mb-3" style="max-width: 100%;">
  <div class="card-header ">Add New User</div>
  <div class="card-body text-success">
    <h5 class="card-title "><a class="btn btn-primary" href=" {% url 'home' %} ">View Users</a></li></h5>
    <form   method="POST" action=" {% url 'update' get_user_data.id %} " class="row g-3">
{% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">{{ form.name.label }}</label>
    {{ form.name }}
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"> {{ form.email.label }}</label>
   {{ form.email }}
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label"> {{ form.mobile.label }}</label>
    {{ form.mobile }}
  </div>
  <div class="col-6">
    <label for="inputAddress2" class="form-label">{{ form.department.label }}</label>
   {{ form.department }}
  </div>
  
  <div class="col-md-12">
    <label for="inputState" class="form-label">{{ form.address.label }}</label>
    {{ form.address }}
  </div>
  <div class="col-md-6">
<div class="form-check form-switch">
  
  <label class="form-check-label" for="flexSwitchCheckDefault">Gender</label>
{{ form.gender }}

</div>
  </div>

  <div class="col-md-6">
    
    {{ form.language }}
  </div>
  
  <div class="col-12 mt-4">
   
        <button type="submit" class="btn btn-outline-primary">Update Data</button>
        <button type="reset" class="btn btn-outline-warning">Reset Data</button>
                 
  </div>
</form>
</div>
  </div>
{% endblock content %}



